extends ../layout

block content
	div(class="jumbotron")
		h1 Curso de Node.js Acadtec
		p(class="lead") 
			| Cadastro de um novo produto 		
		p
			a(href="/usuarios" class="btn btn-lg btn-success") Usuario